@charset "UTF-8";



a{
    text-decoration: none;
}

header{
    top:0;
    width:100%;
    height: 70px;
    background-color: deeppink;
    
}




.title{
    float:left;
    width:100px;
    text-align: center;
    background-color: black;
    color:white;
    vertical-align: middle;
    
    
 }




 header ul{
     color:black;
     background-color: lawngreen;
     text-decoration: none;
     float:right;
     vertical-align: middle;
}

 header li{
     list-style-type:none;
     padding:10px;
     float:left;
     
 }
 

 main{
    width: 100%;
    height: 1500px;
    background-color: red;
 }


.mainvisual img{
    width:100%;
    height:500px;

}

#About{
    margin:0 auto;
    text-align: center;
    width:640px;
    height:400px;
    background-color: seagreen;
  

}



.section-title{
    text-align: center;
    font-size: 30px;




}


.about-content{

    display: flex;
}


.About img{  
    width: 100%;
    height: 200px;
    border-radius: 50%;
    font-size:20px;
    float: left;
    background-color: lightslategray;
 
}




h3{
    font-size:20px;
    text-align: left;
    width: 400px;
    float: right;
    
}

#Bicycle{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: blue;
    height: 400px;
    
  
}



 #Bicycle ul{
    list-style-type:none;
    display: flex;
    justify-content:center;
    background-color: blueviolet;
   
 }


 #Bicycle li{
    padding:10px;
    list-style-type:none;
     text-align: center;
     font-size:20px;
     

 }

 

 #Bicycle img{
    width: 200px;
    height: 200px
 }


 footer{
    display: flex;
    justify-content:center;
    width: 100%;
    height: 20px;
    background-color: chocolate;
    margin-bottom: 0px;
    

  

 }

 @media screen and (max-width: 670px) {



    #About{
        margin:0 auto;
        text-align: center;
        width:100%;
        height:200px;
        background-color: seagreen;
      
    
    }
    
    
    
    .section-title{
        text-align: center;
        font-size: 15px;
    
    }

    .about-content{
        display: flex;
    }
    
    
    
    #About img{  
        width: 100px;
        height: 100px;
        border-radius: 50%;
        justify-content: left;
        background-color: lightslategray;
       
        
     
    }


    h3{
        font-size:10px;
        text-align: left;
        width: 100%;
        justify-content: right;
        
    }
    



    #Bicycle ul{
        display: block;
        height: 700px;
    
    
    }


    #Bicycle li{
        padding:10px;
        list-style-type:none;
         text-align: center;
         font-size:10px;
    
         
    
     }
    #Bicycle img{
        width: 100%;
        height:200px;
        
     }
     
     footer{
        display: flex;
        width: 100%;
        height: 20px;
        background-color: chocolate;
        margin-bottom: 20px;
        

      }

    }



 





